<%= form_with(model: entrega_externa) do |form| %>
  <% if entrega_externa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entrega_externa.errors.count, "error") %> prohibited this entrega_externa from being saved:</h2>

      <ul>
        <% entrega_externa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3> Dados sobre a encomenda </h3>

  <%= form.fields_for :encomenda do |encomenda_fields| %>
  <div class="field">
    <%= encomenda_fields.label :peso %>
    <%= encomenda_fields.text_field :peso %>
  </div>

  <div class="field">
    <%= encomenda_fields.label :remetente %>
    <%= encomenda_fields.text_field :remetente %>
  </div>

  <div class="field">
    <%= encomenda_fields.label :usuario_id %>
    <%= encomenda_fields.text_field :usuario_id %>
  </div>

  <% end %>

  <h3> Dados sobre a entrega </h3>

  <div class="field">
    <%= form.label :dataChegada %>
    <%= form.date_select :dataChegada %>
  </div>

  <div class="field">
    <%= form.label :horaChegada %>
    <%= form.time_select :horaChegada %>
  </div>

  <div class="field">
    <%= form.label :recebidoPor %>
    <%= form.text_field :recebidoPor %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
