<body class="page">
<p id="notice"><%= notice %></p>

<div class="show">
<p>
  <strong>Datachegada:</strong>
  <%= @entrega_externa.dataChegada %>
</p>

<p>
  <strong>Horachegada:</strong>
  <%= @entrega_externa.horaChegada %>
</p>

<p>
  <strong>Recebidopor:</strong>
  <%= @entrega_externa.recebidoPor %>
</p>
</div>
<div>
<%= link_to 'Edit', edit_entrega_externa_path(@entrega_externa) %> |
<%= link_to 'Back', entrega_externas_path %>
</div>
</body>