<%= form_with(model: solicitacao_repass) do |form| %>
  <% if solicitacao_repass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitacao_repass.errors.count, "error") %> prohibited this solicitacao_repass from being saved:</h2>

      <ul>
        <% solicitacao_repass.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dataSolicitada %>
    <%= form.date_select :dataSolicitada %>
  </div>

  <div class="field">
    <%= form.label :entrega_externa_id %>
    <%= form.select(:entrega_externa_id, EntregaExterna.all.pluck(:id)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
