<p id="notice"><%= notice %></p>

<h1>Solicitacao Repasses</h1>

<table>
  <thead>
    <tr>
      <th>Datasolicitada</th>
      <th>Entregaexterna</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitacao_repasses.each do |solicitacao_repass| %>
      <tr>
        <td><%= solicitacao_repass.dataSolicitada %></td>
        <td><%= solicitacao_repass.entrega_externa_id %></td>
        <td><%= link_to 'Show', solicitacao_repass %></td>
        <td><%= link_to 'Edit', edit_solicitacao_repass_path(solicitacao_repass) %></td>
        <td><%= link_to 'Destroy', solicitacao_repass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitacao Repass', new_solicitacao_repass_path %>
