<body class="page">
<p id="notice"><%= notice %></p>

<div class="show">
<p>
  <strong>Datasolicitada:</strong>
  <%= @solicitacao_repass.dataSolicitada %>
</p>

<p>
  <strong>Entregaexterna:</strong>
  <%= @solicitacao_repass.entrega_externa_id %>
</p>

<%= link_to "Editar", edit_solicitacao_repass_path(@solicitacao_repass) %> |
<%= link_to "Voltar", solicitacao_repasses_path %>
