<body class="page">
<%= form_with(model: entrega_interna) do |form| %>
  <% if entrega_interna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entrega_interna.errors.count, "error") %> prohibited this entrega_interna from being saved:</h2>

      <ul>
        <% entrega_interna.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data_entrega %>
    <%= form.date_select :data_entrega %>
  </div>

  <div class="field">
    <%= form.label :hora_recebida %>
    <%= form.time_select :hora_recebida %>
  </div>

  <div class="field">
    <%= form.label :recebido_por %>
    <%= form.text_field :recebido_por %>
  </div>

<%= form.hidden_field :entrega_externa_id, :value => params[:entrega_externa_id] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</body>