<body class="page">
<p id="notice"><%= notice %></p>

<div class="show">
<p>
  <strong>Data entrega:</strong>
  <%= @entrega_interna.data_entrega %>
</p>

<p>
  <strong>Hora recebida:</strong>
  <%= @entrega_interna.hora_recebida %>
</p>

<p>
  <strong>Recebido por:</strong>
  <%= @entrega_interna.recebido_por %>
</p>

<%= link_to "Editar", edit_entrega_interna_path(@entrega_interna) %> |
<%= link_to "Voltar", entrega_internas_path %>
