<body class="page">
<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :Senha %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :Confirmação_de_senha %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :Telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :Numero_de_residencia %>
    <%= form.number_field :numero_residencia %>
  </div>

  <div class="field">
    <%= form.label :Bloco_da_residencia %>
    <%= form.number_field :bloco_residencia %>
  </div>


  <% if !current_user_morador?() %>
    <div class="field">
      <%= form.label :Morador, "É um morador?" %>
      <%= form.select :isMorador, ["Sim", "Nao"] %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</body>