<body class="page">
<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table cellpadding="0" border="0" align="center" cellspacing="0">
  <thead class="head_tabela">
    <tr>
      <th class="th">Nome</th>
      <th class="th">Email</th>
      <th class="th">Telefone</th>
      <th class="th">Cpf</th>
      <th class="th">Numero residencia</th>
      <th class="th">Bloco residencia</th>
      <th class="th" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td class="td"><%= usuario.nome %></td>
        <td class="td"><%= usuario.email %></td>
        <td class="td"><%= usuario.telefone %></td>
        <td class="td"><%= usuario.cpf %></td>
        <td class="td"><%= usuario.numero_residencia %></td>
        <td class="td"><%= usuario.bloco_residencia %></td>
        <td class="td"><%= link_to "Visualizar", usuario %></td>
        <td class="td"><%= link_to "Editar", edit_usuario_path(usuario) %></td>
        <td class="td"><%= link_to "Excluir", usuario, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Cadastrar novo usuario", new_usuario_path %>
