<header>

  <!-- CODIGO JAVASCRIP APENAS PARA EFEITO DE ABRIR E FECHAR O MENU -->
  <!-- FOI USADO JAVASCRIPT POR NAO SER POSSIVEL FAZER ISSO USANDO APENAS RUBY/RAILS -->
  <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "270px";
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
      }
  </script>

  <span class="menu" onclick="openNav()">&#9776; Menu</span>
  <div id="mySidenav" class="sidenav">
    <nav>
      <ul>

        <% if logged_in? %>
          <li><%= link_to "Usuarios", "/usuarios" %></li>
            <li>
              <ul>
                <li><%= link_to "Minha conta", "/usuarios/#{current_user.id}" %></li>
                <div class="close-btn-a">
                  <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
                </div>
                <% if !current_user_morador? %>
                  <li><%= link_to "Funcionarios", usuarios_path(:isMorador => "0") %></li>
                  <li><%= link_to "Moradores", usuarios_path(:isMorador => "1") %></li>
                <% end %>
                
              </ul>
            </li>
          <li><%= link_to "Encomendas", "/encomendas" %></li>
          <li><%= link_to "Entregas externas", "/entrega_externas" %></li>
          <li><%= link_to "Entregas internas", "/entrega_internas" %></li>
          <li><%= link_to "Solicitações de repasse", "/solicitacao_repasses" %></li>
          <li><%= link_to "Sobreaviso de entregas", "/sobreaviso_de_entregas" %></li>

          <br>
          <%= link_to "Sair", sign_out_path, method: "delete" %>

        <% end %>
      </ul>
    </nav>
  </div>
</header>