<body class="page">
<p id="notice"><%= notice %></p>

<div class="show">
<p>
  <strong>Peso:</strong>
  <%= @encomenda.peso %>
</p>

<p>
  <strong>Remetente:</strong>
  <%= @encomenda.remetente %>
</p>

<p>
  <strong>Morador:</strong>
  <%= @encomenda.usuario_id %>
</p>

<p>
  <strong>Data de chegada:</strong>
  <%= @encomenda.entrega_externa.dataChegada %>
</p>

<p>
  <strong>Hora de chegada:</strong>
  <%= @encomenda.entrega_externa.horaChegada %>
</p>

<p>
  <strong>Recebido por:</strong>
  <%= @encomenda.entrega_externa.recebidoPor %>
</p>
</div>

<div>
<% if !current_user_morador?() %>
  <%= link_to "Editar", edit_encomenda_path(@encomenda) %> |
<% end %>

<%= link_to "Voltar", encomendas_path %>
</div>

</body>